.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: rgba(242, 228, 167, 255);
  border-right: 5px solid rgba(200, 180, 120, 1);
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  box-sizing: border-box;
}

.sidebar-logo{
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  list-style: "none";
  padding: 0;
}

.sidebar-home-link{
  cursor: pointer;
  color: navy;
  font-weight: bold;
  text-decoration: underline;
}

.wallpaper{
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  list-style: "none";
  padding: 0;
}

.dashboard{
    width: 80%;
    height: 100vh;
    background: rgba(248, 240, 203, 255);
    padding: 2rem;
    box-sizing: border-box;
}
