
Server/Database/Model/__pycache__/

woc-server/Database/__pycache__/DBConnection.cpython-312.pyc

woc-server/Database/Model/__pycache__/Record.cpython-312.pyc

woc-server/Database/Model/__pycache__/Species.cpython-312.pyc

woc-server/Database/Model/__pycache__/User.cpython-312.pyc

woc-server/Database/Schema/__pycache__/PaginatedResponseSchema.cpython-312.pyc

woc-server/Database/Schema/__pycache__/RecordSchema.cpython-312.pyc

woc-server/Database/Schema/__pycache__/SpeciesSchema.cpython-312.pyc

woc-server/Database/Schema/__pycache__/UserSchema.cpython-312.pyc

woc-server/Services/__pycache__/IUCBService.cpython-312.pyc

woc-server/Services/__pycache__/RecordService.cpython-312.pyc

woc-server/Services/__pycache__/SpeciesService.cpython-312.pyc

woc-server/Services/__pycache__/Support.cpython-312.pyc

woc-server/Services/__pycache__/UserService.cpython-312.pyc
