version: "2"
services:

  mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: woc
      MYSQL_USER: mu1
      MYSQL_PASSWORD: mp1
    networks:
      vn2:
        ipv4_address: 30.40.0.10
    ports:
      - "3308:3306"
    volumes:
        # pass volume named maria-data to mariadb container
      - maria-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3


  server:
    build: 
      context: ./woc-server
    image: wocserver
    restart: always
    environment:
      FILEPATH_SEPARATOR: '/'
      DATABASE_URI: 'mariadb+mariadbconnector://root:pass@mariadb:3306/woc'
      DATA_ROOT: '/home/DATA_ROOT'
    networks:
      vn2:
        ipv4_address: 30.40.0.11
    ports:
      - "5001:5000"
    depends_on:
      mariadb:
          condition: service_healthy
          restart: true
    volumes:
      - ./woc-server:/home/server/                    # Reacts to code modified(saved) while deployed -> restart/reinitialized server
    command: ["python", "ServerApp.py", "init_db"]


  portal:
    build:
      context: ./woc-portal
      args:
        REACT_APP_PUBLIC_URL: "${PUBLIC_URL}"
        PUBLIC_URL: "${PUBLIC_URL}"
        REACT_APP_API_ROOT: "${API_ROOT}"
      dockerfile: Dockerfile
    container_name: woc-portal
    ports:
      - "3310:3000"
    volumes:
      - ./woc-portal:/app
      - /app/node_modules
    restart: always
    depends_on:
      - server
    networks:
      - vn2

  nginx:
    image: nginx:latest
    ports:
      - "30000:80"
      - "443:443"
    volumes:
      - ./woc-server/nginx.conf:/etc/nginx/nginx.conf
      - ./woc-server/cert:/home/cert/
    depends_on:
      - server
    networks:
      - vn2

  pma:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: pass
      UPLOAD_LIMIT: 900M
    ports:
      - 8080:80
    networks:
      vn2:
        ipv4_address: 30.40.0.12
    depends_on:
      - mariadb


volumes:
  maria-data:
    driver: local


networks:
  vn2:
    driver: bridge
    ipam:
     config:
      - subnet: 30.40.0.0/16
        gateway: 30.40.0.1
    
