requests
Werkzeug
cryptography
Flask
Flask-Cors
Flask-SQLAlchemy
SQLAlchemy
mysql-connector
mariadb
PyMySQL
simplejson
pydantic 
pydantic[email]
bcrypt
#pydantic-sqlalchemy
#marshmallow
#marshmallow_sqlalchemy
bcrypt
flask-jwt-extended
pydantic[email]
alembic
flask-openapi3[swagger, redoc, rapidoc, rapipdf, scalar, elements]
gunicorn
authlib
reportlab
python-docx
beautifulsoup4
pypandoc
python-magic
pytest
pandas
openpyxl